hamburger-menu{
    width: 35px;
    height: 30px;
    position: fixed;
    top: 22px;
    right: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .line{
        width: $size;
        height: 3px;
        background-color: white;
        transition: all 0.8s;
    }
    
}
.navbar{
    width: 500px;
    height: 500px;
    background-color: rgba(30, 30, 30, 0.9);
    position: fixed;
    top: 0;
    right: -800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 9% 10% 20% 60%;
    .nav-list{
        text-align:right;
    
        .nav-item{
            list-style: none ;
            margin: 38px;

            .nav-link{
                text-decoration: none;
                font-size: 20px;
                color: #ddd;
                letter-spacing: 1px;
                position: relative;
                overflow: hidden;
                transition: all .2s;
                padding-right: 60px;
                &:hover{
                    color:#FEC84A;
                }
               
            }
        }
    }
}
.change{
    right:0;
}
.change.line-3{
    transform: rotateZ(405deg) translate(-8px, -6px);
}
.change.line-1{
    transform: rotateZ(-405deg) translate(-8px, 6px);
}
.change.line-2{
    opacity:0;
}







