//  .menu-icon{
//      height: $size;
//      width: $size;
//      position: fixed;
//      z-index: 2;
//      right: 50px;
//      top: 30px;
//      cursor: pointer;
//      &__line{
//          height: 2px;
//          width: $size;
//          display: block;
//          background-color: #ffffff;
//          margin-bottom: 4px;
//          transition: transform .2s ease, background-color .5s ease;
//      }
//      &__line-left{
//          width: $size / 2;
//      }
//      &__line-right{
//          width: $size / 2;
//          float: right;
//      }
//  }

.hamburger-menu{
    width: 35px;
    height: 30px;
    position: fixed;
    top: 22px;
    right: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .line{
        width: $size;
        height: 3px;
        background-color: white;
        transition: all 0.8s;
    }
    
}
.navbar{
    width: 100%;
    height: 100%;
    background-color: #262626;
    position: fixed;
    top: 0;
    right: -750px;
    display: flex;
    align-items: center;
    border-radius: 9% 0 0 60%;
    .nav-list{
        text-align:right;
    
        .nav-item{
            list-style: none ;
            margin: 20px;

            .nav-link{
                text-decoration: none;
                font-size: 20px;
                color: #ddd;
                letter-spacing: 1px;
                position: relative;
                overflow: hidden;
                transition: all .2s;
                padding-right: 60px;
                &:hover{
                    color:#FEC84A;
                    
                }
               
            }
        }
    }
}
.change{
    right:0;
}
.change.line-3{
    transform: rotateZ(405deg) translate(-8px, -6px);
}
.change.line-1{
    transform: rotateZ(-405deg) translate(-8px, 6px);
}
.change.line-2{
    opacity:0;
}







