$main-color: #1E1E1E;
$main-bg-color: #1E1E1E;

$main-font: 'Helvetica Neue', sans-serif;
$main-font-size: 16px;

$size: 30px;
$width: 100vw;
$height: 100vh;
$font--size--calc: calc(2vw+10px);
$transition--easing: cubic-bezier(.77,0,.175,1);
$transition--length: .8;
$menu--items--count: 4;



